<!-- <!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <p><strong>작성자:</strong> {{ post.writer }}</p>
        <p><strong>작성일:</strong> {{ post.created_at|date:"Y-m-d, H:i" }}</p>
        <p><strong>작업 날짜:</strong> {{ post.due_date|date:"Y-m-d, H:i" }}</p>
        <p><strong>완료 여부:</strong> {{ post.get_completion_status }}</p>
        <p><strong>중요도:</strong> {{ post.get_priority_display }}</p>
        <a href="{% url 'post_list' %}" class="btn btn-secondary">목록으로 돌아가기</a>
        <a href="{% url 'post_edit' post.pk %}" class="btn btn-warning">수정</a>
        <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">삭제</a>
    </div> -->
<!-- </body>
</html> -->
